body {
	background-color: #2b2b2b;
	color: #ababab;
	font-size: 16px;
}

#simple{
	width: 500px;
	height: auto;
	border: 5px solid #aaa;

}
#fixed-head{
	width: 500px;
	height: 200px;
	border: 5px solid #aaa;
}

th, td {
	border-width: 5px;
}

.table-head > table{
	width: 600px;
}

.table-data > table{
	width: 600px;
}
.table-head > table {
	/*left: -20px;*/
}